* {
	margin: 0;
	padding: 0;
}

$beige: #F2EDD7;
$blancoClaro: #F9F6F2;
$fuente: 'Oswald', sans-serif;
$tamanoH: 25px;
$tamanoHMedia: 15px;
$tamanoTextoMedia: 12px;


body {
    width: 100vw;
    height: 100vh;
	background-color: $blancoClaro;

    header{
		background-color: $beige;
		width: 100vw;
		height: 20vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
    	
    }

    nav{
        width:100vw;
        height: 15vh;
        background-color: $beige;
        text-align: center;
        font-family: $fuente;
        font-size: 22px;
        font-weight: bold;
    }

    footer{
        width:100vw;
        height: 15vh;
		background-image: linear-gradient(to left, #F2EDD7, #F9F6F2);
		border: solid 1px;
		font-family: $fuente;
		text-align: center;
		font-size: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: flex-start;
    }
}    
                
/* header */

.logo{
	height: 160px;
	width: 300px;
}

.ubicacion{
	margin-right: 15px;
	font-family: $fuente;
	font-size: 26px;
	font-weight: bold;
}

.telefono {
	font-family: $fuente;
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
	margin-right: 10px;
}

/* header */
/* carrousel */

#carousel



/* carrousel */


/* nav*/

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.linea {
	display: inline;
	margin-left: 12px;
}


.linea__sinSubrayado {
	text-decoration: none;
	font-size: 26px;
}

.boton {
	height: 50px;
	width: 85px;
	font-size: 25px;
	margin-bottom: 7px;
	margin-top: 7px;
}

.boton--grande {
	height: 50px;
	width: 160px;
	font-size: 25px;
	margin-bottom: 7px;
	margin-top: 7px;
}

/* nav*/

/*main */ 

#datos 

.flex {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-content: center;

}

.flex__estilo{
 	background-color: $blancoClaro;
	border-style: solid;
	height: 650px;
	width: 450px;
	margin: 20px;
	padding: 15px;
	display: flex;
	flex-flow: column;
	align-items: center;
}


.textoMedio {
 	text-align: center;
}

.flex__estilo--img {
 	height: 470px;
	width: 350px;
	display: flex;
	align-items: center;
	transition: 400ms ease;
	margin-top: 20px;
}

.flex__estilo--img:hover {
	transform: translateY(-3%);
}

.datos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	justify-content: space-evenly;
}

.datos__fondo {
	display: flex;
	flex-direction: column;
	background-color: #F2EDD7;
	padding: 70px;
	margin: 30px;
}

.datos__ig {
	height: 100px;
	width: 100px;
	margin: 15px;
}

.datos__wpp {
	height: 130px;
	width: 140px;
	margin: 15px;
}

.datos__pagos{
	height: 250px;
	width: 600;
}

.titUbi {
	font-weight: normal;
	text-align: center;
	margin: 15px;
}

.contacto {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width:100%;
	height: 400px;
	background-color: $blancoClaro;
	margin: 20px;
}



h4 {
	font-family: $fuente;
	font-size: $tamanoH;
}

h5 {
	font-family: $fuente;
	font-size: $tamanoH;
}

h6 {
	font-family: $fuente;
	font-size: $tamanoH;
}

h7 {
	font-family: $fuente;
	font-size: $tamanoH;
}

h8 {
	font-family: $fuente;
	font-size: $tamanoH;
}

h9 {
	font-family: $fuente;
	font-size: $tamanoH;
}

h10 {
	font-family: $fuente;
	font-size: $tamanoH;
}
h11 {
	font-family: $fuente;
	font-size: $tamanoH;
}
.centrar{
	margin-left: 550px;
	margin-right: 550px;
}

/*main */ 

/*footer */ 

.iconos{
	margin: 5px;
	font-size: 45px;
	
}

.iconos--verde{
	color: rgb(44, 209, 44);
}
.iconos--violeta {
	color: rgb(152, 55, 197);
}

.texto {
	display: flex;
	flex-wrap: wrap;
	
}


/*footer */ 



body h2 {
 	background-color: #F2EDD7;
	font-family: $fuente;
}

 body h3{
	font-family: $fuente;
}

 
.tipografia {
	font-family: $fuente;
	font-size: 20px;
}


/*media queries */ 

@media only screen and (max-width: 767px) {

	h1 {
		font-size: $tamanoHMedia;
	}

	h2 {
		font-size: $tamanoHMedia;
	}

	h3 {
		font-size: $tamanoHMedia;
	}

	h4 {
		font-size: $tamanoHMedia;
	}

	h5 {
		font-size: $tamanoHMedia;
	}

	h6 {
		font-size: $tamanoHMedia;
	}

	h7 {
		font-size: $tamanoHMedia;
	}
	h8 {
		font-size: $tamanoHMedia;
	}
	h9 {
		font-size: $tamanoHMedia;
	}

	h10 {
		font-size: $tamanoHMedia;
	}
	h11 {
		font-size: $tamanoHMedia;
	}
	.parrafos {
		font-size: $tamanoTextoMedia;
	}
	
	.logo {
		height: 75px;
		width: 130px;
	}

	.telefono {
		font-size: 13px;
	}

	.boton {
		font-size: 13px;
		height: 30px;
		width: 50px;
	}

	.boton--grande{
		font-size: 13px;
		height: 30px;
		width: 100px;
	}



	.flex__estilo {
		background-color: $blancoClaro;
		border-style: solid;
		height: 420px;
		width: 250px;
		margin: 20px;
		padding: 15px;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.flex__estilo--img {
		height: 250px;
	   width: 150px;
	   display: flex;
	   align-items: center;
	   transition: 400ms ease;
	   margin-top: 20px;
   }

   .datos{
		width: 100%;  
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-end;
		justify-content: space-evenly;
	}

	.datos__fondo {
		width: 350px;
		display: flex;
		flex-direction: column;
		background-color: #F2EDD7;
		padding: 45px;
		margin: 15px;
	}

	.datos__ig {
		height: 50px;
		width: 50px;
		margin: 15px;
	}
	
	.datos__wpp {
		height: 65px;
		width: 70px;
		margin: 15px;
	}
	.datos__pagos{
		height: 115px;
		width: 270px;
	}

	.iframe {
		height: 250px;
		width: 250px;
	}

	.contacto {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		width:350px;
		background-color: $blancoClaro;
		margin: 20px;
	}

	.centrar {
		margin: 15px;
	}

	.iconos{
		margin: 10px;
		font-size: 25px;
		
	}

	body {
		height: 100vh;

		header{
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 190px;
		}

		nav {
			position: sticky;
			top: 0px;
			bottom: 0px;
		}

		main {
			width: 100%;
		}
		footer{
			height: 110px;
			width: 100%;
			font-size: $tamanoTextoMedia;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}